@media (max-width:600px){
    
}

body{
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  background-color: #003049;
}

#main{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a{
  color: #fcbf49;
  text-decoration: none;
}

#nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  color: #fcbf49;
  background-color: #002031;
  border-color: #d62828;
  border-style: solid none;
}

#header-img{
  height: 90%;
}

.nav-bar-dummy{
  height: 100px;
  width: 100%;
  background-color: #003049;
}

.vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#video-reel-container{
  padding: 20px 0px 0px 0px;
  height: auto;
  max-width: 100%;
  overflow-x: hidden;
}

#video-reel-dummy{
  display: inline-flex;
}

#video-reel{
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  animation: reel 15s ease-in-out 0s infinite alternate none;
}

#video{
  max-width: 80%;
  height: 500px;
}

.thumbnail{
  height: 150px;
  padding: 10px;
}

#sections{
  color: #eae2b7;
  background-color: #003049;
}

#home{
  min-height: 100vh;
}

#portfolio{
  background-color: black;
  border-radius: 10px;
}

#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100%;
  color: #fcbf49;
  background-color: #002031;
  border-color: #d62828;
  border-style: solid none;
}

#footer-dummy{
  height: 30px;
  width: 100%;
  background-color: #003049;
}

.commission-message{
  display: grid;
  place-items: center;
  width: 50vw;
  margin: 20px;
  padding: 20px;
  border: solid #d62828;
}

p{
  margin: 0px 25px 20px 25px;
  text-align: center;
  max-width: 800px;
}

ul{
  max-width: 800px;
}

li{
  margin: 0px 25px 0px 25px;
}

h1{
  font-size: clamp(30px, 10vw, 86px);
}

h2{
  font-size: clamp(24px, 6vw, 40px);
}

@keyframes reel {
  0% { transform: translateX(0px);}
  100% { transform: translateX(calc(100vw - 101%));}
}